*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #0392BF;
    color: white;
    font-family: cursive;
}
aside {
    position: absolute;
    background-color: #9ddef1 ;
    width: 5rem;
    height: 100vh;
    padding-top: 500px;
}
.media{
    display: flex;
    flex-direction: column;
}
 aside li {
    display: flex;
    flex-direction: column;
    padding: 10px 35px;
    color: #0392BF;
}

header{
    width: 80%;
    margin: auto;
    padding-top: 2%;
}
.main-con{
    width: 80%;
    margin: auto;
    display: flex;
}
.right-part-con{
    width: 100%;
    margin: auto;
    margin-left: 80px;
    margin-top: 70px;
    font-size: 1.2rem;
    color: white;
}


.links-con{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin: 5%;
}
a{
    text-decoration: none;
    color: white;
}
.link-item{
    cursor: pointer;
}
.link-item-last{
    margin-left: 50%;
}
.left-part-con{
    width: 50%;
}
img{
    width: 1000px;
    margin: auto;
    max-width: 1000px;
    height: 100vh;
    object-fit: cover;
    /* object-position: center; */
    margin-top: -100px;
    margin-left: -60%;
}
.main-name{
    margin-top: -35%;
    margin-left: 13%;
    color: white;
    font-family: cursive;
}
.quads{
    margin-left: 50px;
}
.about-heading-con{
    display: flex;
    margin-bottom: 10px;
}
.fa-star {
    color: gold;
    padding: 5px;
}
.text-item-1{
    opacity: .7;
    margin-bottom: 10px;
}
#theme-section {
    display: flex;
    padding-top: 20px;
}
.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transform: scale(1);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.637);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.637);
}
.color:hover {
    transform: scale(1.3);
}
.color.default {
    transform: scale(1.3);
    border: .1rem white solid;
 }
.default:active{
    transform: scale(1.3);
    border: .1rem white solid;
}

.blue {
    background-color: #0392BF;
}
 .pink {
    background-color: #ED48BA;
}
.yellow {
    background-color: #FBEC06;
}
.grey {
    background-color: #B3D4E0;
}
.make-black{
    color: #065269f5;
}
.others-con-1{
    display: flex;
    margin-top: 20px;
}
select {
    width: 10rem;
    height: 2rem;
    background-color: transparent;
    color: black;
    border: .1rem white solid;
}
button {
    width: 14rem;
    height: 2.5rem;
    background-color: #ED48BA;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}
footer {
    background-color: #9ddef1 ;
    color: whie;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
}
footer ul {
    display: flex;
}
footer li {
    padding: 10px 10px ;
    color: #0392BF;
}
button:hover{
    background-color: #ffffff46;
}
@media screen and (max-width: 900px){
    header{
        width: 90%;
    }
    .main-con{
        display: block;
        width: 80%;
        margin: auto;
    }
    .left-part-con{
        width: 100%;
        padding-bottom: 20%;
    }
    .right-part-con{
        margin: 0;
    }
    img{
        width: 100%;
        margin: auto;
        max-width: 500px;
        height: auto;
        margin-top: -50%;
    }
    .link-item-last{
        margin-left: -0%;
        margin-right: -3%;
    }
    aside{
        display: none;
    }
    button{
        margin-bottom: 20px;
    }
    .color{
        width: 20px;
        height: 20px;
    }
    footer{
        display: flex;
    }
}